@import '_setting.scss';

.board-cols {
    height: $board-content-heigh;
    // Thanh cuộn
    overflow-x: auto;
    overflow-y: hidden;

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        border-radius: 7px;
    }
}