@import '~bootstrap/scss/bootstrap';
@import '_setting.scss';

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.app-master {
    height: 100vh;
    overflow: hidden;
    // display: grid;
    // /*
    //     gird layout theo rows
    //     row 1: nav bar 40px
    //     row 2: board bar 50px
    //     row 3: phan con lai la 1 frame khung hinh
    // */
    // grid-template-rows: 40px 50px 1fr;
    // line-height: 1.3em;
    background-color: $board-bg-color;
    color: $app-main-text-color;

    .icon {
        font-size: 14px;
        margin: 0 3px;
    }

    .trello-container {
        margin: 0 15px;
        padding: 0;
    }

    // Turn off shadown input text
    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    [type=text].form-control:focus,
    [type=password].form-control:focus,
    [type=email].form-control:focus,
    [type=tel].form-control:focus,
    [contenteditable].form-control:focus {
        box-shadow: none;
    }

    .btn:focus, .btn:active{
        outline: none;
        box-shadow: none;
    }
}